<app-header></app-header>

<div class="datos-est">
  <p class="dat"><strong> NÚMERO PROCESO: </strong> {{ numero_proceso }}</p>
  <p class="dat"><strong> ASUNTO: </strong> {{ asunto }}</p>
  <p class="dat"><strong> ESTUDIANTE: </strong> {{ estudiante }} </p>
  <p class="dat"><strong> DOCENTE: </strong> {{ docente }}</p>
</div>

<div class="info-analisis">
  <form [formGroup]="analisis2Form" (ngSubmit)="submitForm()">

    <div class="analisis" *ngFor="let section of [
      {id: 'narracion_hechos', title: '1. Narración de los hechos'},
      {id: 'problema_juridico', title: '2. Problema jurídico'},
      {id: 'cuestiones_subcuestiones', title: '3. Cuestiones o subcuestiones para solucionar el problema'},
      {id: 'respuesta_cuestiones', title: '4. Respuesta a las cuestiones'},
      {id: 'ratio_obiter', title: '5. Ratio decidendi y obiter dictum'},
      {id: 'solucion_problema', title: '6. Solución al problema'},
      {id: 'decision', title: '7. Decisión'}
    ]">

      <app-caja-texto [id]="section.id" [formControlName]="section.id" [titulo]="section.title">
      </app-caja-texto>

      <button class="rate" *ngIf="isDocente" type="button" (click)="toggleCalificar(section.id)">Calificar</button>

      <div *ngIf="analisis2Form.get(section.id)?.value?.showCalificar">
        <div class="bttns-rate">
          <button class="correct-button" type="button"
            [ngClass]="{'selected': analisis2Form.get(section.id + '_calificacion')?.value === 'Correcto'}"
            (click)="setCalificacion(section.id, 'Correcto')">Correcto</button>
          <button class="incorrect-button" type="button"
            [ngClass]="{'selected': analisis2Form.get(section.id + '_calificacion')?.value === 'Incorrecto'}"
            (click)="setCalificacion(section.id, 'Incorrecto')">Incorrecto</button>
        </div>
        <div>
          <app-caja-texto [formControlName]="section.id + '_retroalimentacion'"
            [titulo]="'Retroalimentación'"></app-caja-texto>
        </div>
      </div>

    </div>

    <button class="bttn-stnd" type="submit">Guardar</button>
  </form>

  <div class="bttn">
    <button class="bttn-stnd" (click)="redirectToAnalisis()">Anterior</button>
    <button class="bttn-stnd" (click)="redirectToEvaluacion()" [disabled]="!isSiguienteButtonEnabled()">Evaluación</button>
  </div>
</div>
