<div>
  <!-- Display information at the top -->

  <app-header></app-header>

  <div class="datos-est">
    <p class="dat"> <strong>NUMERO PROCESO:</strong> {{ numero_proceso }}</p>
    <p class="dat"> <strong>ASUNTO:</strong> {{ asunto }}</p>
    <p class="dat"> <strong>ESTUDIANTE:</strong> {{ estudiante }}</p>
    <p class="dat"> <strong>DOCENTE:</strong> {{ docente }}</p>
  </div>

  <!-- Tabs for Analysis and Evaluation -->
  <div class="contenedor-bttn-aeva">
    <div class="analisis-eva">
      <button class="bttn-stnd" (click)="activeTab = 'analysis'"
        [class.active]="activeTab === 'analysis'">Análisis</button>
    </div>

    <div class="analisis-eva">
      <button class="bttn-stnd" (click)="activeTab = 'evaluation'"
        [class.active]="activeTab === 'evaluation'">Evaluación</button>
    </div>
  </div>

  <!-- Analysis Tab -->
  <div class="info-analisis" *ngIf="activeTab === 'analysis'">
    <h3 class="titulo-analisis">Esquema de las argumentaciones</h3>

    <!-- Sección de Cuestiones Normativas -->
    <div *ngFor="let form of formsNormativas; let i = index" class="pa" [id]="'contenedorNormativa' + i">
      <form class="pa">
        <div class="pregunta-container">
          <h5 class="pregunta">{{ i + 1 }}. Pregunta del problema - Cuestión normativa</h5>
          <app-caja-texto name="questionNormativa{{i}}" [(ngModel)]="form.analysisQuestion" required></app-caja-texto>
        </div>

        <div class="razones-container">
          <h5 class="pregunta">{{ i + 1 }}. Respuestas o razones</h5>
          <app-caja-texto name="reasonsNormativa{{i}}" [(ngModel)]="form.analysisReasons" required></app-caja-texto>
        </div>

        <div class="validar">
          <h5 class="pregunta">{{ i + 1 }}. ¿Es válida la cuestión?</h5>
          <div class="si-no">
            <input type="radio" id="siNormativa{{i}}" class="valida" name="validQuestionNormativa{{i}}" value="Si"
              [(ngModel)]="form.validQuestion" required> Si
            <input type="radio" id="noNormativa{{i}}" class="valida" name="validQuestionNormativa{{i}}" value="No"
              [(ngModel)]="form.validQuestion" required> No
          </div>
        </div>
      </form>
    </div>
    <button class="bttn-stnd" type="button" (click)="agregarMasNormativa()">Agregar C.N</button>

    <!-- Sección de Cuestiones Fácticas -->
    <div *ngFor="let form of formsFacticas; let i = index" class="pa" [id]="'contenedorFactica' + i">
      <form class="pa">
        <div class="pregunta-container">
          <h5 class="pregunta">{{ i + 1 }}. Pregunta del problema - Cuestión fáctica</h5>
          <app-caja-texto name="questionFactica{{i}}" [(ngModel)]="form.factualQuestion" required></app-caja-texto>
        </div>

        <div class="razones-container">
          <h5 class="pregunta">{{ i + 1 }}. Respuestas o razones</h5>
          <app-caja-texto name="reasonsFactica{{i}}" [(ngModel)]="form.factualReasons" required></app-caja-texto>
        </div>

        <div class="validar">
          <h5 class="pregunta">{{ i + 1 }}. ¿Es válida la cuestión?</h5>
          <div class="si-no">
            <input type="radio" id="siFactica{{i}}" class="valida" name="validQuestionFactica{{i}}" value="Si"
              [(ngModel)]="form.validQuestion" required> Si
            <input type="radio" id="noFactica{{i}}" class="valida" name="validQuestionFactica{{i}}" value="No"
              [(ngModel)]="form.validQuestion" required> No
          </div>
        </div>
      </form>
    </div>
    <button class="bttn-stnd" type="button" (click)="agregarMasFactica()">Agregar C.F</button> <br>

    <!-- Botón para guardar todo -->
    <button class="bttn-stnd" type="button" (click)="submitAllForms()">Guardar todo</button>
  </div>
</div>




  <!-- Evaluation Tab -->
  <!-- <div *ngIf="activeTab === 'evaluation'">
    <h3>Esquema de las argumentaciones</h3>
    <form (submit)="submitForm()">
      <h5>En caso de identificar deficiencia motivacional en la sentencia, seleccione solamente uno de los siguientes
        tipos</h5>
      <div>
        <input type="radio" name="motivationType" value="Si" [(ngModel)]="motivationType"> Inexistencia
        <input type="radio" name="motivationType" value="No" [(ngModel)]="motivationType"> Insuficiencia
        <input type="radio" name="motivationType" value="No" [(ngModel)]="motivationType"> Apariencia
      </div>

      <h3>Fundamentación normativa</h3>
      <div>
        <label>¿Carece totalmente de fundamentación normativa?</label>
        <input type="radio" name="lackFoundation" value="Si" [(ngModel)]="lackFoundation"> Si
        <input type="radio" name="lackFoundation" value="No" [(ngModel)]="lackFoundation"> No
      </div>
      <div>
        <label>¿Por qué?</label>
        <textarea name="reasons" [(ngModel)]="evaluationReasons"></textarea>
      </div>

      <h3>Fundamentación fáctica</h3>
      <div>
        <label>¿Carece totalmente de fundamentación fáctica?</label>
        <input type="radio" name="lackFoundation" value="Si" [(ngModel)]="lackFoundation"> Si
        <input type="radio" name="lackFoundation" value="No" [(ngModel)]="lackFoundation"> No
      </div>
      <div>
        <label>¿Por qué?</label>
        <textarea name="reasons" [(ngModel)]="evaluationReasons"></textarea>
      </div>

      <div>
        <label>Señale si la sentencia analizada debe ser anulada por déficit de motivación</label>
        <input type="radio" name="lackMotivation" value="Si" [(ngModel)]="lackMotivation"> Si
        <input type="radio" name="lackMotivation" value="No" [(ngModel)]="lackMotivation"> No
      </div>
      <div>
        <label>¿Por qué?</label>
        <textarea name="reasons" [(ngModel)]="evaluationReasons"></textarea>
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div> -->