<footer>
    <div class="container py-2" style="background-color: #172D5A; color: white; font-family: Poppins; padding: 10px 20px 10px 20px">
        <div class="row align-items-center">
            <div class="col-md-8">
                <p class="text-white mb-0">Este sistema es un prototipo desarrollado por el LiiD UTPL</p>
            </div>
            <div class="col-md-4 text-md-end">
                <p class="text-white mb-0"> <strong>Contacto:</strong><a href="mailto:liid_utpl@utpl.edu.ec" class="text-white text-decoration-none"
                style="text-decoration: none; color: white;">
                liid_utpl&#64;utpl.edu.ec
            </a></p>
            </div>
        </div>
    </div>
</footer>