body {
    background: #E4E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tittle-sent {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputs-sent {
    display: flex;
    flex-direction: column;
    background: #b0b7c53e;
    height: 600px;
    margin: 25px 200px 0px 200px;
    border-radius: 10px;
}

.dato-sent {
    margin: 10px 50px 20px 50px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dato-sent input {
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

.dato-sent-file {
    margin: 5px 50px 10px 40px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.dato-sent-file p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -25px;
}

.label-docente{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.docente{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.alerta {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 13%;
    padding: 10px;
    background: #BE3144;
    color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    text-align: center;
}

.alerta p {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

.save{
    align-items: center;
    justify-content: center;
    display: flex;
}

.alert-content{
    display: flex;
    justify-content: end;
}