<nav class="navbar">
  <div class="nav-left">
    <button class="bttn-nav" routerLink="/principal">Inicio</button>
    <button class="bttn-nav">E-SATJE</button>
    <button class="bttn-nav" >UTPL</button>
  </div>
  <div class="nav-right" *ngIf="user">
    <div class="user-info" (click)="toggleLogoutMenu()">
      <div>
        <span>{{ user.name }}</span>
        <br>
        <span>{{ user.role }}</span>
      </div>
    </div>
    <div *ngIf="showLogoutMenu" class="logout-menu">
      <button class="logout" (click)="logout()">Salir</button>
    </div>
  </div>
</nav>