<nav class="navbar">
  <div class="nav-left">
    <button class="bttn-nav" routerLink="/principal">Inicio</button>
    <button class="bttn-nav"  onclick="window.open('https://procesosjudiciales.funcionjudicial.gob.ec/busqueda', '_blank')">E-SATJE</button>
    <button class="bttn-nav" onclick="window.open('https://www.utpl.edu.ec/', '_blank')">UTPL</button>
  </div>
  <div class="nav-right" *ngIf="user">
    <div class="user-info" (click)="toggleLogoutMenu()">
      <div>
        <span>{{ user.name }}</span>
        <br>
        <span>{{ user.role }}</span>
      </div>
    </div>
    <div class="exit">
      <button (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 30px; color: white;"></i>
      </button>
    </div>
  </div>
</nav>