.navbar {
    background-color: #172D5A;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between; /* Cambiado de 'center' a 'space-between' */
}

.nav-left {
    display: flex;
    margin-left: 640px;
}

.bttn-nav {
    background: none;
    border: none;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    color: #ffffff;
    margin: 0px 15px 0px 15px;
}

.logout {
    background: #f44336;
    border: none;
    border-radius: 5px;
    text-align: start;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    margin: 10px 0px 10px;
}

.bttn-nav:active {
    background: none;
    border-bottom: solid 1px #FFAB02;
    color: #FFAB02;
}

.bttn-nav:hover {
    background: none;
    border-bottom: solid 1px #FFAB02;
    color: #FFAB02;
}

.nav-right{
    margin-right: 30px;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.user-info{
    display: flex;
}
