<app-header></app-header>

<div class="titulo">
  <h2>Sistema Jurídico Avanzado de Sentencias de Primer Nivel en Ecuador</h2>
  <button *ngIf="userRole !== 'docente'" class="bttn-stnd" (click)="redirectToNuevaSentencia()">Nueva Sentencia</button>
</div>

<div class="search-bar">
  <input class="search" type="text" [(ngModel)]="searchText" (input)="onSearchTextChanged()" placeholder="Buscar por nombre de estudiante">
</div>

<div class="sentencias">
  <div *ngFor="let sentencia of filteredSentencias$ | async" class="sent">

    <div class="proceso">
      <p><strong>Numero de Proceso:</strong> {{ sentencia.numero_proceso }}</p>
    </div>

    <div class="datos">

      <div class="text-dat">
        <p><strong>Asunto:</strong> {{ sentencia.asunto }}</p>
      </div>

      <div class="text-dat">
        <p><strong>Estudiante:</strong> {{ sentencia.nombre_estudiante }}</p>
      </div>

      <div class="text-dat">
        <p><strong>Docente:</strong> {{ sentencia.nombre_docente }}</p>
      </div>
    </div>

    <div class="more">
      <button class="bttn-stnd" (click)="redirectToAnalisis(sentencia)">Ver más</button>
      <a *ngIf="sentencia.archivoURL" [href]="sentencia.archivoURL" target="_blank">
        <button class="bttn-stnd">Descargar PDF</button>
      </a>
    </div>
  </div>
</div>
