<app-header></app-header>

<div class="datos-est">
    <p class="dat"><strong> NÚMERO PROCESO: </strong> {{ numero_proceso }}</p>
    <p class="dat"><strong> ASUNTO: </strong> {{ asunto }}</p>
    <p class="dat"><strong> ESTUDIANTE: </strong> {{ estudiante }} </p>
    <p class="dat"><strong> DOCENTE: </strong> {{ docente }}</p>
</div>

<form [formGroup]="evaluacion2Form" (ngSubmit)="submitForm()">

    <h3 class="titulo-analisis">Cuestionario de estandar de la motivación correcta</h3>
    <div *ngIf="evaluacion2Form.disabled" class="locked-message">
        Esta sentencia está bloqueada y no puede ser editada.
    </div>

    <div>
        <div class="checkbox-class">
            <h2 class="titulo">MOTIVACIÓN CORRECTA</h2>
            <h3 class="tittle-check">SEÑALE LA MATERIA CORRESPONDIENTE DE LA SENTENCIA</h3>
            <div *ngIf="!isDocente && evaluacion2Form.get('saved')?.value" class="calificaciones">
                <div class="calificacion-display" *ngIf="!saved" [ngClass]="{
                    'calificacion-correcta': getCalificacionValue('sentenceSubject_calificacion') === 'Correcto',
                    'calificacion-incorrecta': getCalificacionValue('sentenceSubject_calificacion') === 'Incorrecto',
                    'calificacion-no-calificado': getCalificacionValue('sentenceSubject_calificacion') === 'No Calificado'
                  }">
                    {{ getCalificacionValue('sentenceSubject_calificacion') }}
                </div>
            </div>
            <h5 class="description">Este cuestionario aplica para jueces de primer nivel en las materias de:</h5>
            <div class="options">
                <!-- Columna 1 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Civil"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Civil'])"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Civil') || docenteSelections['Civil']"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Civil') && !docenteSelections['Civil']"
                            [class.docente-selected]="docenteSelections['Civil']">
                        <label class="description">Civil</label>
                    </div>

                    <!-- Repite este patrón para todos los checkboxes en todas las columnas -->
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Penal" [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Penal')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Penal')"
                            [class.docente-selected]="isDocente && docenteSelections['Penal']">
                        <label class="description">Penal</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Constitutional"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Constitutional')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Constitutional')"
                            [class.docente-selected]="isDocente && docenteSelections['Constitutional']">
                        <label class="description">Constitucional</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Other" [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Other')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Other')"
                            [class.docente-selected]="isDocente && docenteSelections['Other']">
                        <label class="description">Otro...</label>
                        <div *ngIf="evaluacion2Form.get('sentenceSubject')?.value.includes('Other')"
                            formGroupName="other">
                            <textarea name="otherSubject" formControlName="otherSubject"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Columna 2 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Mercantil"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Mercantil')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Mercantil')"
                            [class.docente-selected]="isDocente && docenteSelections['Mercantil']">
                        <label class="description">Mercantil</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Inquilinato"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Inquilinato')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Inquilinato')"
                            [class.docente-selected]="isDocente && docenteSelections['Inquilinato']">
                        <label class="description">Inquilinato y relaciones vecinales</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Laboral" [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Laboral')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Laboral')"
                            [class.docente-selected]="isDocente && docenteSelections['Laboral']">
                        <label class="description">Laboral</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="ContenciosoAdministrativo"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('ContenciosoAdministrativo')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('ContenciosoAdministrativo')"
                            [class.docente-selected]="isDocente && docenteSelections['ContenciosoAdministrativo']">
                        <label class="description">Tribunales contencioso administrativo</label>
                    </div>
                </div>
                <!-- Columna 3 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Familia" [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Familia')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Familia')"
                            [class.docente-selected]="isDocente && docenteSelections['Familia']">
                        <label class="description">Familia, mujer, niñez y adolescencia</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="MultiComponent"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('MultiComponent')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('MultiComponent')"
                            [class.docente-selected]="isDocente && docenteSelections['MultiComponent']">
                        <label class="description">Multicomponente</label>
                        <div *ngIf="evaluacion2Form.get('sentenceSubject')?.value.includes('MultiComponent')"
                            formGroupName="multicomponent">
                            <input type="radio" name="multiOption" value="MultiCivil"
                                [disabled]="evaluacion2Form.disabled"
                                [checked]="evaluacion2Form.get('multicomponent.multiOption')?.value.includes('MultiCivil')"
                                [class.student-selected]="!isDocente && evaluacion2Form.get('multicomponent.multiOption')?.value.includes('MultiCivil')"
                                [class.docente-selected]="isDocente && docenteSelections['MultiCivil']">
                            <label class="description">Mult. civil</label>
                            <input type="radio" name="multiOption" value="MultiPenal"
                                [disabled]="evaluacion2Form.disabled"
                                [checked]="evaluacion2Form.get('multicomponent.multiOption')?.value.includes('MultiPenal')"
                                [class.student-selected]="!isDocente && evaluacion2Form.get('multicomponent.multiOption')?.value.includes('MultiPenal')"
                                [class.docente-selected]="isDocente && docenteSelections['MultiPenal']">
                            <label class="description">Mult. penal</label>
                        </div>
                    </div>
                </div>
                <!-- Columna 4 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Transit" [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Transit')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Transit')"
                            [class.docente-selected]="isDocente && docenteSelections['Transit']">
                        <label class="description">Tránsito</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Violence"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Violence')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Violence')"
                            [class.docente-selected]="isDocente && docenteSelections['Violence']">
                        <label class="description">Violencia contra la mujer o miembro del núcleo familiar</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="Contraventions"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('Contraventions')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Contraventions')"
                            [class.docente-selected]="isDocente && docenteSelections['Contraventions']">
                        <label class="description">Contravenciones</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="sentenceSubject" value="TributaryLitigation"
                            [disabled]="evaluacion2Form.disabled"
                            [checked]="evaluacion2Form.get('sentenceSubject')?.value.includes('TributaryLitigation')"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('TributaryLitigation')"
                            [class.docente-selected]="isDocente && docenteSelections['TributaryLitigation']">
                        <label class="description">Contencioso tributario</label>
                    </div>
                </div>
            </div>
            <button class="rate" *ngIf="isDocente" type="button"
                (click)="toggleCalificar('sentenceSubject')">Calificar</button>
            <div *ngIf="calificarState['sentenceSubject']">
                <div class="bttns-rate">
                    <button class="correct-button" type="button"
                        [class.calificacion-correcta]="isButtonSelected('sentenceSubject_calificacion', 'Correcto')"
                        (click)="setCalificacion('sentenceSubject_calificacion', 'Correcto')">
                        Correcto
                    </button>
                    <button class="incorrect-button" type="button"
                        [class.calificacion-incorrecta]="isButtonSelected('sentenceSubject_calificacion', 'Incorrecto')"
                        (click)="setCalificacion('sentenceSubject_calificacion', 'Incorrecto')">
                        Incorrecto
                    </button>
                </div>
                <div>
                    <app-caja-texto [formControlName]="'sentenceSubject_retroalimentacion'"
                        [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación'"></app-caja-texto>
                </div>
            </div>
        </div>
        <div class="checkbox-class">
            <h2 class="tittle-check">SEÑALE EL CASILLERO QUE CREA CONVENIENTE</h2>
            <h5 class="description">En este apartado encontrará una serie de parámetros, para seleccionar según su
                conveniencia tenga en
                cuenta que:
                Totalmente en desacuerdo (1), Ni desacuerdo/Ni en desacuerdo (2), Muy de acuerdo (3), No aplica (4)
            </h5>
            <div *ngFor="let section of sections; let sectionIndex = index" class="section">
                <h3 class="titulo">{{ section.title }}</h3>
                <div class="likert-table">
                    <div *ngFor="let question of section.questions; let questionIndex = index" class="likert-row">
                        <label class="likert-label">{{ question }}</label>
                        <div class="likert-options">
                            <label *ngFor="let option of [1, 2, 3, 4]">
                                <input type="radio"
                                    [formControlName]="'section' + sectionIndex + '_question' + questionIndex"
                                    [value]="option" [disabled]="evaluacion2Form.disabled">
                                <span>{{ option }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="isDocente">
                    <button class="rate" type="button" (click)="toggleCalificar2('section' + sectionIndex)">
                        Calificar Sección
                    </button>
                    <div *ngIf="calificarState['section' + sectionIndex]">
                        <div class="bttns-rate">
                            <button class="correct-button"
                                [class.calificacion-correcta]="isButtonSelected2('section' + sectionIndex + '_calificacion', 'Correcto')"
                                type="button"
                                (click)="setCalificacion2('section' + sectionIndex + '_calificacion', 'Correcto')">
                                Correcto
                            </button>

                            <button class="incorrect-button"
                                [class.calificacion-incorrecta]="isButtonSelected('section' + sectionIndex + '_calificacion', 'Incorrecto')"
                                type="button"
                                (click)="setCalificacion2('section' + sectionIndex + '_calificacion', 'Incorrecto')">
                                Incorrecto
                            </button>
                        </div>
                        <div>
                            <app-caja-texto [formControlName]="'section' + sectionIndex + '_retroalimentacion'"
                                [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación de la Sección'">
                            </app-caja-texto>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="likert-table">
                <h3 class="titulo">Fundamentación normativa.</h3>
                <div>
                    <label class="likert-label">Señale si la sentencia analizada debe ser corregida (dejada por
                        defecto) por
                        un juez de
                        segunda
                        instancia a través de la presentación de un recurso de apelación.</label>
                    <input type="radio" name="judgeAnalysis" value="Si" formControlName="judgeAnalysis"> Si
                    <input type="radio" name="judgeAnalysis" value="No" formControlName="judgeAnalysis"> No
                </div>
                <div>
                    <app-caja-texto name="reasonsNormativa" formControlName="reasonsNormative"
                        [titulo]="'Justifique su respuesta (500 palabras)'">
                    </app-caja-texto>
                    <div *ngIf="!isDocente && getRetroalimentacionValue('reasonsNormative_retroalimentacion')">
                        <button type="button" (click)="toggleRetroalimentacion('sentenceSubject')" class="bttn-toggle">
                            {{ mostrarRetroalimentacion['sentenceSubject'] ? 'Ocultar' : 'Ver' }} retroalimentación
                        </button>
                        <div *ngIf="mostrarRetroalimentacion['sentenceSubject']" class="retroalimentacion-contenido">
                            <div class="retroalimentacion-texto">
                                {{ getRetroalimentacionValue('reasonsNormative_retroalimentacion') }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="rate" *ngIf="isDocente" type="button"
                    (click)="toggleCalificar('reasonsNormative')">Calificar</button>
                <div *ngIf="calificarState['reasonsNormative']">
                    <div class="bttns-rate">
                        <button class="correct-button"
                            [class.calificacion-correcta]="isButtonSelected('reasonsNormative_calificacion', 'Correcto')"
                            type="button"
                            (click)="setCalificacion('reasonsNormative_calificacion', 'Correcto')">Correcto</button>
                        <button class="incorrect-button"
                            [class.calificacion-incorrecta]="isButtonSelected('reasonsNormative_calificacion', 'Incorrecto')"
                            type="button"
                            (click)="setCalificacion('reasonsNormative_calificacion', 'Incorrecto')">Incorrecto</button>
                    </div>
                    <div>
                        <app-caja-texto [formControlName]="'reasonsNormative_retroalimentacion'"
                            [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación'"></app-caja-texto>
                    </div>
                </div>
                <div *ngIf="!isDocente && evaluacion2Form.get('saved')?.value" class="calificaciones">
                    <div class="calificacion-display" *ngIf="!saved" [ngClass]="{
                            'calificacion-correcta': getCalificacionValue('reasonsNormative_calificacion') === 'Correcto',
                            'calificacion-incorrecta': getCalificacionValue('reasonsNormative_calificacion') === 'Incorrecto',
                            'calificacion-no-calificado': getCalificacionValue('reasonsNormative_calificacion') === 'No Calificado'
                          }">
                        {{ getCalificacionValue('reasonsNormative_calificacion') }}
                    </div>
                </div>

            </div>
            <div class="likert-table">
                <div>
                    <app-caja-texto name="finalConclusion" formControlName="finalConclusion"
                        [titulo]="'Conclusión final'">
                    </app-caja-texto>
                    <div *ngIf="!isDocente && getRetroalimentacionValue('finalConclusion_retroalimentacion')">
                        <button type="button" (click)="toggleRetroalimentacion('sentenceSubject')" class="bttn-toggle">
                            {{ mostrarRetroalimentacion['sentenceSubject'] ? 'Ocultar' : 'Ver' }} retroalimentación
                        </button>
                        <div *ngIf="mostrarRetroalimentacion['sentenceSubject']" class="retroalimentacion-contenido">
                            <div class="retroalimentacion-texto">
                                {{ getRetroalimentacionValue('finalConclusion_retroalimentacion') }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="rate" *ngIf="isDocente" type="button"
                    (click)="toggleCalificar('finalConclusion')">Calificar</button>
                <div *ngIf="calificarState['finalConclusion']">
                    <div class="bttns-rate">
                        <button class="correct-button"
                            [class.calificacion-correcta]="isButtonSelected('finalConclusion_calificacion', 'Correcto')"
                            type="button"
                            (click)="setCalificacion('finalConclusion_calificacion', 'Correcto')">Correcto</button>
                        <button class="incorrect-button"
                            [class.calificacion-incorrecta]="isButtonSelected('finalConclusion_calificacion', 'Incorrecto')"
                            type="button"
                            (click)="setCalificacion('finalConclusion_calificacion', 'Incorrecto')">Incorrecto</button>
                    </div>
                    <div>
                        <app-caja-texto [formControlName]="'finalConclusion_retroalimentacion'"
                            [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación'"></app-caja-texto>
                    </div>
                </div>
                <div *ngIf="!isDocente && evaluacion2Form.get('saved')?.value" class="calificaciones">
                    <div class="calificacion-display" *ngIf="!saved" [ngClass]="{
                            'calificacion-correcta': getCalificacionValue('finalConclusion_calificacion') === 'Correcto',
                            'calificacion-incorrecta': getCalificacionValue('finalConclusion_calificacion') === 'Incorrecto',
                            'calificacion-no-calificado': getCalificacionValue('finalConclusion_calificacion') === 'No Calificado'
                          }">
                        {{ getCalificacionValue('finalConclusion_calificacion') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="bttn-stnd-g" type="submit">Guardar</button>
</form>

<div class="bttn">
    <button class="bttn-stnd" (click)="redirectToEvaluacion()">Evaluación</button>
    <button *ngIf="isDocente" class="bttn-stnd" (click)="lockForm()">Bloquear Sentencia</button>
    <button class="custom-button" type="button" *ngIf="cargando">
        <div class="spinner"></div>
        <span class="button-text">Cargando...</span>
    </button>
    <button class="bttn-stnd" [disabled]="!docenteSaved" (click)="finalizarEvaluacion()">Finalizar</button>
</div>