<app-header></app-header>

<div class="datos-est">
  <p class="dat"><strong> NÚMERO PROCESO: </strong> {{ numero_proceso }}</p>
  <p class="dat"><strong> ASUNTO: </strong> {{ asunto }}</p>
  <p class="dat"><strong> ESTUDIANTE: {{ estudiante }} </strong></p>
  <p class="dat"><strong> DOCENTE: </strong> {{ docente }}</p>
</div>

<div class="info-analisis">
  <h3 class="titulo-analisis">Esquema de las argumentaciones</h3>
  <form [formGroup]="analisisForm" (ngSubmit)="submitForm()">
    <div formArrayName="normativas">
      <div *ngFor="let normativa of normativas.controls; let i=index" [formGroupName]="i">
        <div class="pa">
          <div class="pregunta-container">
            <h5 class="pregunta">Pregunta del problema - Cuestión normativa</h5>
            <app-caja-texto formControlName="pregunta"></app-caja-texto>
          </div>
          <div class="razones-container">
            <h5 class="pregunta">Respuesta o razones</h5>
            <app-caja-texto formControlName="respuesta"></app-caja-texto>
          </div>

          <div class="validar">
            <h5 class="pregunta">Es válida la cuestión:</h5>
            <div class="si-no">
              <input type="radio" formControlName="valida" value="Si" class="valida"> Si
              <input type="radio" formControlName="valida" value="No" class="valida"> No
            </div>
          </div>
        </div>
        <button class="bttn-stnd-eliminar" type="button" (click)="removeNormativa(i)">Eliminar Cuestión Normativa</button>
      </div>
    </div>
    <button class="bttn-stnd" type="button" (click)="addNormativa()">Agregar Cuestión Normativa</button>

    <div formArrayName="facticas">
      <div *ngFor="let factica of facticas.controls; let i=index" [formGroupName]="i">
        <div class="pa">
          <div class="pregunta-container">
            <h5 class="pregunta">Pregunta del problema - Cuestión fáctica</h5>
            <app-caja-texto formControlName="pregunta"></app-caja-texto>
          </div>

          <div class="razones-conteiner">
            <h5 class="pregunta">Respuesta o razones</h5>
            <app-caja-texto formControlName="respuesta"></app-caja-texto>
          </div>

          <div class="validar">
            <h5 class="pregunta">Es válida la cuestión:</h5>
            <div class="si-no">
              <input type="radio" formControlName="valida" value="Si" class="valida" > Si
              <input type="radio" formControlName="valida" value="No" class="valida" > No
            </div>
          </div>

        </div>

        <button class="bttn-stnd-eliminar" type="button" (click)="removeFactica(i)">Eliminar Cuestión Fáctica</button>
      </div>
    </div>
    <button class="bttn-stnd" type="button" (click)="addFactica()">Agregar Cuestión Fáctica</button>

    <div class="bttn">
      <button class="bttn-stnd" type="submit">Guardar</button>
      <button class="bttn-sgt" (click)="redirectToAnalisis2()" [disabled]="!isSiguienteButtonEnabled()">Siguiente</button>
    </div>
  
  </form>
</div>