@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.titulo {
    justify-content: center;
    padding-top: 50px;
    color: #172D5A;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
}

.bttn-stnd {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #172D5A;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border: none;
    display: flex;
    transition: background-color 0.3s ease; 
}

.bttn-stnd:hover {
    background: #000000;
}


.pregunta {
    color: #222940;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-analisis {
    margin: 0px 50px 10px 50px;
}

.tipo {
    margin: 0px 15px 0px 15px;
    color: var(--Greyscale-Content, #1A1A1A);
    font-family: Poppins;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: 24px;
}

.rate {
    background: none;
    color: #6486CB;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    border-bottom: 2px solid #6486CB;
    display: flex;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }
  
  .rate:hover {
    color: #21468f;
    border-bottom: 2px solid #21468f;
  }
  
  
  .bttns-rate{
    display: flex;
    justify-content: space-between;
    width: 15%;
    flex-direction: row;
  }
  
  .correct-button, .incorrect-button {
    margin-top: 20px;
    background: #21468f;
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif; /* Añadido 'sans-serif' para mejor soporte */
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    border: none;
    display: flex;
    justify-content: center; /* Añadido para centrar contenido dentro del botón */
    transition: background-color 0.3s ease;
}

.correct-button:hover {
    background: #037514;
}

.incorrect-button:hover {
    background: #970909;
}

/* Estilos para botones seleccionados */
.correct-button.selected {
    background: #037514;
}

.incorrect-button.selected {
    background: #970909;
}

  
.label-for-text{
    font-family: Poppins;
  }
